/* AddPlaylistForm.css */
.add-playlist-form {
    margin: auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(234, 76, 200);
  }
  
  /* Rest of the styling can mirror .migration-form */
  .migration-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9ffa2;
    box-shadow: 0 4px 12px rgb(207, 63, 121);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #d94898;
  }
  
  .form-input,
  .form-select {
    width: 100%;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
  
  .form-input:focus,
  .form-select:focus {
    outline: none;
    border-color: #1DB954;
  }
  
  .form-error {
    color: #ff0033;
    font-size: 12px;
  }
  
  .submit-button {
    padding: 10px 20px ;
    border-radius: 4px;
    border: none;
    background-color: #1DB954;
    color: rgb(222, 104, 181);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #17a75b;
  }
  
  .submit-button:disabled {
    background-color: #9eebcf;
    cursor: not-allowed;
  }
  