/* App.css */
.app {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  background-color: #ff577f; /* Barbie pink */
  color: white;
  padding: 20px;
  text-align: center;
}

.app-header h1 {
  margin: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.status-message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff3cd; /* pale yellow */
  color: #856404; /* Darker shade for text */
  border: 1px solid #ffeeba;
}

.app-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

input[type='text'],
input[type='url'],
select {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  width: calc(100% - 22px); /* Account for padding and border */
}

button {
  cursor: pointer;
  background-color: #ff577f; /* Barbie pink */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  margin-top: 20px; /* Add more space on top */
  width: 100%; /* Make the button full width */
  transition: background-color 0.3s ease;
  font-size: 1.2em; /* Make the text larger */
}

button:hover {
  background-color: #ff3860; /* A darker Barbie pink for hover effect */
}

button:disabled {
  background-color: #ccc;
}

button:disabled:hover {
  background-color: #ccc;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  input[type='text'],
  input[type='url'],
  select {
    width: calc(100% - 22px); /* Adjust width on smaller screens */
  }

  button {
    padding: 10px 20px; /* Adjust padding on smaller screens */
  }
}

/* Additional styles if needed */
